<!-- START TEAM-->
<section class="section stacked-blue-waves" id="team">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12">
        <i class="ti-user title-icon text-muted"></i>
        <h3 class="title">
          Our
          <span class="fw-bold">Team</span>
        </h3>
      </div>
    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col-lg-4">
        <div class="text-center bg-white team-box mt-3 active p-5">
          <div class="">
            <img
              src="/assets/images/fennie.jpg"
              alt=""
              width="80px"
              class="img-fluid rounded-circle mx-auto d-block"
            />
          </div>
          <div class="team-name">
            <p class="fw-bold mb-0 mt-4">@Fennie van der Graaf</p>
            <p class="text-muted mt-4">
              MSc Biomedical Engineering
            </p>
          </div>
          <div class="">
            <ul class="list-inline team-social mt-4 mb-0">
              <li class="list-inline-item">
                <a href="#"><i class="ti-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center bg-white team-box mt-3 active p-5">
          <div class="">
            <img
              src="assets/images/alexandra.jpg"
              width="80px"
              alt=""
              class="img-fluid rounded-circle mx-auto d-block"
            />
          </div>
          <div class="team-name">
            <p class="fw-bold mb-0 mt-4">@Alexandra Matei</p>
            <p class="text-muted mt-4">
              MSc Chemistry
            </p>
          </div>
          <div class="">
            <ul class="list-inline team-social mt-4 mb-0">
              <li class="list-inline-item">
                <a href="#"><i class="ti-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center bg-white team-box mt-3 active p-5">
          <div class="">
            <img
              src="assets/images/naila.jpg"
              width="80px"
              alt=""
              class="img-fluid rounded-circle mx-auto d-block"
            />
          </div>
          <div class="team-name">
            <p class="fw-bold mb-0 mt-4">@Naila Loudini</p>
            <p class="text-muted mt-4">
              MSc Medicine
            </p>
          </div>
          <div class="">
            <ul class="list-inline team-social mt-4 mb-0">
              <li class="list-inline-item">
                <a href="#"><i class="ti-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center bg-white team-box mt-3 active p-5">
          <div class="">
            <img
              src="assets/images/vlad.jpg"
              width="80px"
              alt=""
              class="img-fluid rounded-circle mx-auto d-block"
            />
          </div>
          <div class="team-name">
            <p class="fw-bold mb-0 mt-4">@Vlad Iftime</p>
            <p class="text-muted mt-4">
              MSc Artificial Intelligence
            </p>
          </div>
          <div class="">
            <ul class="list-inline team-social mt-4 mb-0">
              <li class="list-inline-item">
                <a href="#"><i class="ti-github"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ti-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END TEAM -->
